* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

body {
    background-color: palegoldenrod;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: scroll;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

/*@media only screen and (max-width: 999px) {
  body {
    -webkit-transform: rotate(90deg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0; 
  }
}*/

@media only screen and (min-width: 1000px) and (max-width: 1245px) {
  body {
    width: 100%;
  }
}

@media only screen and (min-width: 1246px) {
  body {
    width: 1246px;
  }
}

h1 {
	font-size: 1.2vw;
    position: absolute;
    left: calc(50% - 48.15%);
    cursor: default;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
    z-index: 500;
}

h2 {
	font-size: 3.2vw;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 2.8vw;
    left: calc(50% - 48.15%);
    cursor: default;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
    z-index: 500;
}

h3 {
    font-size: 1.6vw;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 6.8vw;
    left: calc(50% - 48.15% + 0.16%);
    cursor: default;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
    z-index: 500;
}

#load {
    font-size: 1vw;
    text-align: center;
    position: absolute;
    top: 0.8vw;
    left: calc(50% - 37%);
    cursor: default;
    z-index: 500;
}

#game {
    font-size: 1vw;
    width: 10%;
    text-align: center;
    position: absolute;
    top: 0.8vw;
    left: calc(50% - 48.15% + 0.16%);
    cursor: default;
    z-index: 500;
}

#ready {
    font-size: 0.88vw;
    width: calc(6%);
    margin-left: calc((100% - 6%) / 2);
    margin-top: 1.6vw;
    z-index: 10;
    position: absolute;
    left: -4%;
    top: 48.15vw;
}

#recruit {
    font-size: 0.88vw;
    width: 6vw;
    margin-left: calc((100% - 6%) / 2);
    margin-top: 1.6vw;
    z-index: 10;
    position: absolute;
    left: 12vw;
    top: 48.96vw;
}

#upgrade {
    font-size: 0.88vw;
    width: 6vw;
    margin-left: calc((100% - 6vw) / 2);
    margin-top: 1.6vw;
    z-index: 10;
    position: absolute;
    left: -12vw;
    top: 48.96vw;
}

#reset {
    font-size: 0.88vw;
    width: 1.6vw;
    margin-left: calc(50% - 1.4vw);
    z-index: 10;
    position: absolute;
    top: 51.52vw;
    padding-left: .08vw;
    padding-right: .08vw;
}

#autofill {
    font-size: 0.88vw;
    width: 6vw;
    margin-left: calc((100% - 6vw) / 2);
    margin-top: 1.6vw;
    z-index: 10;
    position: absolute;
    left: 4vw;
    top: 48.15vw;
}

#progressbar {
    width: 16vw;
    top: 8.83vw;
    position: absolute;
    margin-left: calc((100% - 16vw) / 2);
    height: 0.4vw;
    display: none;
    left: 0;
    background: lightgreen;
}

#progress {
    background: darkgray;
    float: right;
}

#recruit-screen {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: gray;
    z-index: 999;
    overflow: scroll;
}

#achievements-screen {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: gray;
    z-index: 999;
    overflow: scroll;
}

#newgame-screen {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: gray;
    z-index: 999;
    overflow: scroll;
}

#recruit-limit {
    width: 100%;
    text-align: left;
    font-size: 1.2vw;
    padding-left: 15.4vw;
}

#achievements-progress {
    width: 100%;
    text-align: center;
    font-size: 1.6vw;
    height: 5vw;
    font-style: italic;
}

.difficulty {
    font-size: 1.5vw;
    padding: 0.5vw 1vw;
    width: 10vw;
    margin-left: calc((100% - 30vw)/4);
}

#difficulty-label {
    width: 100%;
    text-align: center;
    font-size: 1.6vw;
    height: 5vw;
    padding-top: 5vw;
    font-style: italic;
}

#upgrade-screen {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: gray;
    z-index: 999;
    overflow: scroll;
}

#upgrader-screen {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: gray;
    z-index: 999;
    overflow: scroll;
}

.label {
    position:absolute;
    right: calc(50% - 48.15vw);
    display:inline-block;
    width: 14.45vw;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}

.number {
    text-align: right;
    width:100%;
    font-weight: bold;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}

.bar {
	background: red;
}

.bar-fill {
    background: green;
    height: 100%;
}

#close-upgrade {
    margin: .16vw;
    display: block;
    font-size: 1.6vw;
}

#close-achievements {
    margin: .16vw;
    display: block;
    font-size: 1.6vw;
}

#close-upgrader {
    margin: .16vw;
    display: block;
    font-size: 1.6vw;
}

#close-recruit {
    margin: .16vw;
    display: block;
    font-size: 1.6vw;
}

.ami .bar {
    width: 3.2vw;
	height: 0.8vw;
	position: static;
	margin-left: calc((100% - 3.2vw) / 2);
}

.ami .bar-fill {
	position: static;
	height: 100%;
}

.enemy .bar {
    width: 2vw;
	height: 0.48vw;
	position: static;
	margin-left: calc((100% - 2vw) / 2);
}

.enemy .bar-fill {
	position: static;
	height: 100%;
}

#ammo {
    display: inline;
}

#food {
    display: inline;
}

#hope {
    display: inline;
}

#ammolabel {
    top: 2.4vw;
    text-align: right;
    cursor: default;
}

#foodlabel {
    top: 4.41vw;
    text-align: right;
    cursor: default;
    width: auto;
}

#hopelabel {
	top: 6.42vw;
    text-align: right;
    cursor: default;
}

.chanvrerie {
    background-clip: content-box;
    background-color: brown;
    transition: background 0.05s ease-in-out;
    position: absolute;
    top: 32.1vw;
    width: calc(32.1vw/3);
    height: 16vw;
	display: inline-block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -30px;
    margin-bottom: -30px;
    filter: brightness(110%);
}

#chanvrerie1 {
    left: calc(50% - (32.1vw/3)/2*3);
}

#chanvrerie2 {
    left: calc(50% - (32.1vw/3)/2);
}

#chanvrerie3 {
    left: calc(50% + (32.1vw/3)/2);
}

#corinthe {
    background: teal;
    position: absolute;
    left: calc(50% - (32.1vw/3)/2*3 - 16vw);
    top: 9.63vw;
    width: 16vw;
    height: 41.73vw;
	display: inline-block;
    overflow: scroll;
    text-align: center;
}

.mondetour {
    background-clip: content-box;
    background-color: brown;
    transition: background 0.05s ease-in-out;
    position: absolute;
    width: 9.63vw;
    height: 16vw;
    transform: skewY(-20deg);
    display: inline-block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -30px;
    margin-bottom: -30px;
    filter: brightness(110%);
}

#mondetour1 {
    top: 39.33vw;
    right: calc(50% + (32.1vw/3)/2*3 + 14.77vw);
}

#mondetour2 {
    right: calc(50% + (32.1vw/3)/2*3 + 24.40vw);
    top: 42.82vw;
}

.precheurs {
    background-clip: content-box;
    background-color: brown;
    transition: background 0.1s ease-in-out;
    position: absolute;
    width: 9.63vw;
    height: 4vw;
    transform: skewY(20deg);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -30px;
    margin-bottom: -30px;
    filter: brightness(110%);
}

#precheurs2 {
    top: 54.86vw;
    right: calc(50% - (32.1vw/3)/2*3 - 34.03vw);
}

#precheurs1 {
    top: 51.36vw;
    right: calc(50% - (32.1vw/3)/2*3 - 24.40vw);
}

#rightside {
    background: grey;
    position: absolute;
    left: calc(50% + (32.1vw/3)*1.5);
    top: 9.63vw;
    width: 16vw;
    height: 41.73vw;
    text-align: center;
    display: inline-block;
}

#lootammo {
    background: white;
    position: absolute;
    right: calc(50% - 46.95vw);
    top: 36.92vw;
    width: 12.84vw;
    height: 14.45vw;
    border: solid;
    overflow: scroll;
    text-align: center;
}

#scout {
    background: white;
    position: absolute;
    left: calc(50% - 10.03vw);
    top: 0.8vw;
    width: 20.06vw;
    height: 8vw;
    border: solid;
    overflow: scroll;
    text-align: center;
}

#trainer {
    background: lightgray;
    width: 8vw;
    height: 8vw;
    border: solid;
    overflow: hidden;
    text-align: center;
    margin-left: calc(50% - 4.13vw);
    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
}

#lootfood {
    background: white;
    position: absolute;
    right: calc(50% - 46.95vw);
    top: 20.06vw;
    width: 12.84vw;
    height: 14.45vw;
    border: solid;
    overflow: scroll;
    text-align: center;
}

#dismiss {
    background: white;
    position: absolute;
    right: calc(50% - 45.35vw);
    top: 53.77vw;
    width: 9.63vw;
    height: 7.22vw;
    border: solid;
    overflow: scroll;
    text-align: center;
}

#feed {
    padding: 0.3vw 0.4vw;
}

#lesenemies2 {
    left: calc(50% - 32.1vw);
    position: absolute;
    top: 4.41vw;
    width: 64.21vw;
    display: inline-block;
    text-align: center;
}

#lesenemies1 {
    left: calc(50% - 32.1vw);
    position: absolute;
    top: 0.8vw;
    height: 3.61vw;
    width: 64.21vw;
    display: inline-block;
    text-align: center;
}

#lesenemiesmondetour1 {
    left: calc(50% - 47.35vw);
    position: absolute;
    top: 9.63vw;
    width: 14.45vw;
    height: 3.61vw;
    display: inline-block;
    text-align: center;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}

#lesenemiesmondetour2 {
    left: calc(50% - 47.35vw);
    position: absolute;
    top: 13.24vw;
    height: 3.61vw;
    width: 14.45vw;
    display: inline-block;
    text-align: center;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}

#lesenemiesprecheurs1 {
    left: calc(50% + 32.91vw);
    position: absolute;
    top: 9.63vw;
    width: 14.45vw;
    height: 3.61vw;
    display: inline-block;
    text-align: center;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}

#lesenemiesprecheurs2 {
    left: calc(50% + 32.91vw);
    position: absolute;
    top: 13.24vw;
    height: 3.61vw;
    width: 14.45vw;
    display: inline-block;
    text-align: center;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}

.enemy {
    vertical-align: top;
    margin: 0.4vw;
    display: inline-block;
    font-size: 1.2vw;
    text-align: center;
    cursor: default;
}

.enemytype {
    width: 100%;
    text-align: center;
    font-size: 0.8vw;
}

button[type=button]:enabled {
  cursor:pointer;
}

#lesamis {
    background: white;
	position: absolute;
	left: calc(50% - 60.19vw/2);
	top: 53.37vw;
	width: 60.19vw;
    min-height: 8vw;
	display: inline-block;
    text-align: center;
    border: 1px dotted lightgray;
}

.ami {
    display: inline-block;
    transition: color 0.2s ease-in-out;
    width: 4.815vw;
    font-size: 2.81vw;
    text-align: center;
    z-index: 1;
    vertical-align: top;
    height: 6.42vw;
    cursor: pointer;
}

.upgraderami {
    display: inline-block;
    width: 10%;
    font-size: 3.2vw;
    text-align: center;
    height: 100%;
    margin-top: 3vw;
}

.recruit {
    font-size: 2.81vw;
    text-align: center;
    width: 50%;
    display: inline-block;
}

.upgrade {
    font-size: 2.81vw;
    text-align: center;
    width: 50%;
    display: inline-block;
}

.achievement {
    min-height: 5vw;
    font-size: 1.5vw;
    text-align: center;
    width: 50%;
    display: inline-block;
    cursor: default;
}

.upgraderUpgradeContainer {
    width: 100%;
    display: inline-block;
    height: 10vw;
}

.upgraderUpgrade {
    font-size: 2.81vw;
    text-align: center;
    width: 30%;
    display: inline-block;
    height: 100%;
    margin-top: 3vw;
}

.upgraderUpgradeEmpty {
    font-size: 1.2vw;
    text-align: center;
    width: 30%;
    display: inline-block;
    height: 100%;
    margin-top: 4vw;
    vertical-align: middle;
}

.upgraderUpgrade .stats {
    padding: 0vw 1.6vw;
    font-size: 1.2vw;
}

.aminame {
    width: 100%;
    text-align: center;
    font-size: 0.8vw;
}

.upgraderaminame {
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
}

.recruitname {
    width: 100%;
    text-align: center;
    font-size: 0.8vw;
}

.foodButton {
    width: calc(3.3vw + 4px);
    margin-top: .16vw;
    position: absolute;
    font-size: 0.64vw;
    margin-left: calc(0.35vw + 2px);
    z-index: 4;
    padding-left: 0.30vw;
    padding-right: 0.30vw;
    box-shadow: auto;
}

.recruitButton {
    font-size: 0.88vw;
    width: 10.43vw;
    margin-top: 0.4vw;
}

.mariusButton {
    width: 4.815vw;
    height: 2.25vw;
    margin-top: .16vw;
    margin-left: 0vw;
    position: absolute;
    padding: 0.08vw;
    font-size: 0.64vw;
    z-index: 3;
}

.ami .stacker {
    position: absolute;
    font-size: 1.2vw;
    margin-top: -5.62vw;
    margin-left: 3.61vw;
    color: black;
}

.ami .upgrader {
    position: absolute;
    font-size: 0.96vw;
    margin-top: -5.62vw;
    padding: 0;
}

.enemy .stacker {
    position: relative;
    font-size: 0.96vw;
    top: -3.61vw;
    right: -1.2vw;
}

.upgradeButton {
    font-size: 0.88vw;
    width: 12.04vw;
    margin-top: 0vw;
    margin-bottom: 2.4vw;
}

.upgraderButton {
    font-size: 0.88vw;
    width: 12.04vw;
    margin-top: 0vw;
    margin-bottom: 2.4vw;
}

.ami .stats {
    z-index: 15;
    padding: .24vw;
    font-size: 0.72vw;
    position: fixed;
    background-color: lightgray;
    width: 7.54vw;
    margin-top: -9.23vw;
}

#hovertext {
    z-index: 15;
    padding: .24vw;
    font-size: 0.72vw;
    position: fixed;
    background-color: lightgray;
    width: 7.54vw;
    margin-top: -9.23vw;
    text-align: center;
    pointer-events: none;
}

.recruit .stats {
    padding: 0.8vw 1.6vw;
    font-size: 0.72vw;
}

.upgrade .stats {
    padding: 0vw 1.6vw;
    font-size: 1.2vw;
}

.recoverLabel {
    cursor: default;
    display: block;
    font-size: 1.12vw;
    min-height: 1.4vw;
    padding-right: 1.2vw;
    padding-left: 1.2vw;
}

.deathrisk {
    display: inline;
    padding: 0vw;
    margin: 0vw;
    cursor: pointer;
}

.deathrisk:hover {
    color: red;
}

.amiLoc:hover .recoverLabel .fakeResetButton {
    width: 0.96vw;
    display: inline;
    float: right;
    padding: 0;
    margin-right: .24vw;
    margin-top: .24vw;
    vertical-align: top;
    height: 100%;
}

.amiLoc:hover .resetButton {
    width: 0.96vw;
    min-height: 0.96vw;
    display: inline;
    float: right;
    font-size: 0.7vw;
    padding: 0;
    margin-right: .24vw;
    margin-top: .24vw;
    vertical-align: top;
    background: white;
    border-color: white;
    border-style: solid;
    border-width: 0.16vw;
    border-radius: 0.32vw;
}

.amiLoc:hover .recoverLabel {
    padding-right: 0vw;
}

.dot {
    height: 0.8vw;
    width: 0.8vw;
    border-radius: 50%;
    position: absolute;
    margin-top: -2.65vw;
    margin-left: -1.61vw;
}

.EnjolrasPower {
    background-color: crimson;
}

.CombeferrePower {
    background-color: dimgray;
}

.BossuetPower {
    background-color: lightpink;
}

.BahorelPower {
    background-color: indianred;
}

.CourfeyracPower {
    background-color: slateblue;
}

.FeuillyPower {
    background-color: tan;
}

.JolyPower {
    background-color: olivedrab;
}

.ProuvairePower {
    background-color: sienna;
}

.MabeufPower {
    background-color: coral;
}

.GrantairePower {
    background-color: purple;
}

.MariusPower {
    background-color: lightseagreen;
}

.CosettePower {
    background-color: yellow;
}

.EponinePower {
    background-color: darkorange;
}

.ValjeanPower {
    background-color: magenta;
}

.ThenardierPower {
    background-color: limegreen;
}

.MmeThenardierPower {
    background-color: green;
}

.MontparnassePower {
    background-color: cadetblue;
}

.BabetPower {
    background-color: darkgoldenrod;
}

.GueulemerPower {
    background-color: lightsalmon;
}

.ClaquesousPower {
    background-color: lightpink;
}

.GavrochePower {
    background-color: turquoise;
}

.bullets {
    font-size: 0.96vw;
    width: 4.815vw;
    text-align: center;
    position: absolute;
    margin-left: -2.4vw;
}