body {
    background-color: palegoldenrod;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: scroll;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar { 
    display: none;
}

#container {
    aspect-ratio: 8/5;
    position: absolute;
    top: 0;
    left: 0;
}

.backgroundText {
    cursor: default;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
    position: absolute;
}

#title {
    left: calc(50% - 48.15%);
}

#state {
    margin: 0;
    left: calc(50% - 48.15%);
}

#substate {
    margin: 0;
    left: calc(50% - 48.15% + 0.16%);
}

.metaButton {
    position: absolute;
    top: 0;
}

#load {
    text-align: center;
    position: absolute;
    left: calc(50% - 37%);
}

#game {
    width: 10%;
    position: absolute;
    left: calc(50% - 48.15% + 0.16%);
}

.controlButton {
    width: calc(6%);
    margin-left: calc((100% - 6%) / 2);
    z-index: 10;
    position: absolute;
}

#ready {
    left: -4%;
}

#reset {
    margin-top: 0;
}

#progressbar {
    position: absolute;
    display: none;
    left: 0;
    background: lightgreen;
}

#progress {
    background: darkgray;
    float: right;
}

.screen {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: gray;
    z-index: 999;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.screen::-webkit-scrollbar { 
    display: none;
}

#thebrick-screen {
    display: flex;
    flex-direction: row;
    overflow: auto;
    z-index: 1000;
}

#recruit-limit {
    text-align: left;
}

#achievements-progress {
    width: 100%;
    text-align: center;
    font-style: italic;
}

.difficultysub {
    font-style: italic;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.newgameLabel {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#challengeslabel {
    width: 100%;
    margin-left: 0;
}

.challenge {
    width: 33%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.challengeButton {
    text-align: center;
    vertical-align: bottom;
}

.label {
    display:inline-block;
    text-align: right;
}

#foodlabel {
    width: auto;
}

.number {
    display: inline;
    width: 100%;
    font-weight: bold;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}

.bar {
	background: red;
}

.bar-fill {
    background: green;
    height: 100%;
}

.closeButton {
    display: block;
}

.ami .bar {
	position: static;
}

.ami .bar-fill {
	position: static;
}

.enemy .bar {
	position: static;
}

.enemy .bar-fill {
	position: static;
}

.barricade {
    background-clip: content-box;
    background-color: brown;
    transition: background 0.05s ease-in-out;
    position: absolute;
    display: inline-block;
    text-align: center;
    filter: brightness(110%);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.barricade::-webkit-scrollbar { 
    display: none;
}

.mondetour {
    transform: skewY(-20deg);
}

.precheurs {
    transform: skewY(20deg);
}

.building {
    position: absolute;
    display: inline-block;
    overflow: scroll;
    text-align: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.building::-webkit-scrollbar { 
    display: none;
}

#corinthe {
    background: teal;
}

#rightside {
    background: grey;
}

.recoverBox {
    background: white;
    position: absolute;
    border: solid;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align: center;
}

.recoverBox::-webkit-scrollbar { 
    display: none;
}

#trainer {
    background: lightgray;
    border: solid;
    overflow: hidden;
    text-align: center;
}

.enemies {
    position: absolute;
    display: inline-block;
    text-align: center;
}

.enemy {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    cursor: default;
}

.enemyname {
    width: 100%;
    text-align: center;
}

button[type=button]:enabled {
  cursor:pointer;
}

#lesamis {
    background: white;
	position: absolute;
	display: inline-block;
    text-align: center;
    border: 1px dotted lightgray;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#lesamis::-webkit-scrollbar { 
    display: none;
}

.ami {
    display: inline-block;
    transition: color 0.2s ease-in-out;
    text-align: center;
    z-index: 1;
    vertical-align: top;
    cursor: pointer;
}

.upgraderami {
    display: inline-block;
    width: 10%;
    text-align: center;
    height: 100%;
}

.recruit {
    text-align: center;
    display: inline-block;
}

.upgrade {
    text-align: center;
    width: 50%;
    display: inline-block;
}

.achievement {
    text-align: center;
    display: inline-block;
    cursor: default;
    vertical-align: top;
}

.upgraderUpgradeContainer {
    width: 100%;
    display: inline-block;
}

.upgraderUpgrade {
    text-align: center;
    width: 30%;
    display: inline-block;
    height: 100%;
}

.upgraderUpgradeEmpty {
    text-align: center;
    width: 30%;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.aminame {
    width: 100%;
    text-align: center;
}

.upgraderaminame {
    width: 100%;
    text-align: center;
}

.recruitname {
    width: 100%;
    text-align: center;
}

.foodButton {
    position: absolute;
    z-index: 4;
    box-shadow: auto;
}

.mariusButton {
    margin-left: 0;
    position: absolute;
    z-index: 3;
}

.ami .stacker {
    position: absolute;
    color: black;
}

.ami .upgrader {
    position: absolute;
    padding: 0;
}

.enemy .stacker {
    position: relative;
}

.upgradeButton {
    margin-top: 0;
}

.upgraderButton {
    margin-top: 0;
}

#hovertext {
    z-index: 15;
    position: fixed;
    background-color: lightgray;
    text-align: center;
    pointer-events: none;
}

.recoverLabel {
    cursor: default;
    display: block;
}

.deathrisk {
    display: inline;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.deathrisk:hover {
    color: red;
}

.fakeResetButton {
    display: inline;
    float: right;
    padding: 0;
    vertical-align: top;
    height: 100%;
}

.amiLoc:hover .fakeResetButton {
    display: none;
}

.amiLoc:hover .resetButton {
    display: inline;
    float: right;
    padding: 0;
    vertical-align: top;
    background: white;
    border-color: white;
    border-style: solid;
}

.resetFakeButton {
    display: none;
}

.amiLoc:hover .resetFakeButton {
    display: inline;
    height: 100%;
    float: right;
    padding: 0;
    vertical-align: top;
}

.recoverLabel {
    padding-right: 0;
}

.dot {
    border-radius: 50%;
    position: absolute;
}

.EnjolrasPower {
    background-color: crimson;
}

.CombeferrePower {
    background-color: dimgray;
}

.BossuetPower {
    background-color: lightpink;
}

.BahorelPower {
    background-color: indianred;
}

.CourfeyracPower {
    background-color: slateblue;
}

.FeuillyPower {
    background-color: tan;
}

.JolyPower {
    background-color: olivedrab;
}

.ProuvairePower {
    background-color: sienna;
}

.MabeufPower {
    background-color: coral;
}

.GrantairePower {
    background-color: purple;
}

.MariusPower {
    background-color: lightseagreen;
}

.CosettePower {
    background-color: yellow;
}

.EponinePower {
    background-color: darkorange;
}

.ValjeanPower {
    background-color: magenta;
}

.ThenardierPower {
    background-color: limegreen;
}

.MmeThenardierPower {
    background-color: green;
}

.MontparnassePower {
    background-color: cadetblue;
}

.BabetPower {
    background-color: darkgoldenrod;
}

.GueulemerPower {
    background-color: lightsalmon;
}

.ClaquesousPower {
    background-color: lightpink;
}

.GavrochePower {
    background-color: turquoise;
}

.bullets {
    text-align: center;
    position: absolute;
}

#toc {
    width: 24%;
    border-right: solid 2px black;
    height: 100%;
    padding-left: 1%;
}

#brick {
    width: 79%;
    padding: 5% 1%;
    overflow: scroll;
}

#brick a {
    color: black;
    text-decoration-line: none;
}

#brick a:hover {
    color: silver;
}
/*
.toc li {
    margin: 1% 0;
}*/

.toc {
    list-style-type: "> ";
}

.t/*ocsmall li {
    margin: 0.5% 0;
}*/

.tocsmall {
    list-style-type: "- ";
}

li a {
    color: black;
    text-decoration-line: none;
}

ul {
    padding-inline-start: 15%;
}

.tocsmall li a {
    color: black;
    text-decoration-line: none;
}

.tocsmall li a:hover {
    color: silver;
}

a:hover {
    color: silver;
}

p {
    display: inline;
}

#tutorial {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#tutorial-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(128,128,128,0.8);
    z-index: 9997;
}

#tutorial-text {
    background-color: rgb(255,255,255,1);
    z-index: 9999;
}

#ok-tutorial {
    font-weight: bold;
    z-index: 9999;
}

#disable-tutorials {
    color: red;
    font-style: italic;
    z-index: 9999;
}

#reset-tutorials {
    color: red;
    font-style: italic;
}

.streetsign {
    text-align: center;
    font-style: italic;
    z-index: -1;
}

#corinthe-street {
    writing-mode: vertical-rl;
}

.infoButton {
    font-size: 0.7%;
    padding: 0;
    margin-left: 0.5%;
    border: none;
    background-color: gray;
}

.infoButton:hover {
    color: silver;
}

#result {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#finalwave {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#newgame {
    text-align: center;
}

#endless {
    text-align: center;
}

#tip {
    font-style: italic;
    text-align: center;
}